# API Keys
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyAC-cXovmuiqXch45WsrUAQH6DNVuUwlKA

# Configuration settings can be added here
# DB_CONNECTION=
# DB_HOST=
# DB_PORT=
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD= 